<mat-accordion>
  @for (deployment of deployments(); track $index) {
    <mat-expansion-panel #deploy>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ deployment.name }}</mat-panel-title>

        <mat-panel-description class="flex justify-end !flex-grow">
          <div class="flex flex-row items-center justify-center">
            <mp-angular-status-icon [status]="getStatusOfDeployment(deployment)" />
            <div>{{deployment.aliveReplicas}} / {{ deployment.replicas }}</div>
          </div>
        </mat-panel-description>

      </mat-expansion-panel-header>

      @defer (on interaction(deploy)) {
        <mp-angular-deployment-center [deployment]="deployment" />
      }
    </mat-expansion-panel>
  }
</mat-accordion>